body {
  font-family: 'Spectral';
  font-size: 19px;
  background-color: black;

}

#result {
  display: none;
}

.container {

}

.container img {
  position: relative;
  height: 350px;
  width: 400px;
}

button {
  color: black;
}
